pylint==3.2.6
pytest==8.3.3
urllib3==2.1.0
msal==1.26.0
requests==2.31.0
Jinja2==3.1.2
PyYAML==6.0.1
fastapi==0.104.1
pydantic==2.5.0
uvicorn==0.24.0.post1
starlette==0.27.0
pydantic-settings==2.1.0
httpretty==1.1.4
httpx==0.26.0
azure-storage-blob==12.19.0
azure-identity==1.15.0
coverage==7.4.4
robotframework==7.0
robotframework-requests==0.9.7
pyarrow==16.1.0
pandas==2.2.2
pytest-asyncio==0.24.0
pytest-xdist==2.5.0
azure-core~=1.31.0
numpy==2.2.2
colorlog==6.8.2
